<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>

      <li>
        <a id='home-nav-link' href="/wso2-identity-server/index.html">WSO2 Identity Server for Pivotal Platform (Beta)</a>
      </li>

      <li>
        <a href="/wso2-identity-server/release-notes.html">Release Notes</a>
      </li>

      <li>
        <a href="/wso2-identity-server/installing.html">Installing and Configuring WSO2 Identity Server</a>
      </li>

      <li>
        <a href="/wso2-identity-server/using.html">Using WSO2 Identity Server</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
