---
title: WSO2 Identity Server for Pivotal Platform (Beta)
owner: Partners
---

<strong><%= modified_date %></strong>

<p class="note warning">
<strong>Warning: </strong>
The WSO2 Identity Server for Pivotal Platform tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a Pivotal Platform production environment.
</p>

This documentation describes WSO2 Identity Server for Pivotal Platform, which installs Identity Server service,
[WSO2 Identity Server 5.7.0](https://wso2.com/identity-and-access-management/), on Platform.

## <a id='overview'></a>Overview

WSO2 Identity Server is API-driven, is based on open standards with the Pivotal Platform deployment option. It supports complex IAM requirements given its high extensibility.

WSO2 Identity Server helps you do single sign-on and identity federation backed by strong and adaptive authentication, securely expose APIs, and identity management
by connecting to heterogeneous user stores.

The Deployment Architecture for the Identity Server is as follows:

![Deployment](images/deployment.png)

## <a id='features'></a>Key Capabilities

The key capabilities of WSO2 Identity Server for Pivotal Platform are described in this section.

### Identity Federation and SSO

Enables federated access to web and mobile applications across multiple trust domains using open identity standards (OAuth, SAML, OIDC, WS- Federation) and facilitates SSO between multiple logged in applications.

### Identity Bridging

Facilitates exchanging identity attributes and authentication decisions between heterogeneous identity systems in a seamless manner.

### Adaptive and Strong Authentication

Enable applications to secure access with multi-factor authentication based on context, risk, and identity attributes.
Learn more about [Adaptive authentication](https://wso2.com/identity-and-access-management/adaptive-authentication/).

### API and Microservices Security

Secure access to APIs and Microservices based on open standards.
Read more: [Building an Ecosystem for API Security](https://wso2.com/whitepapers/wso2-whitepaper-building-an-ecosystem-for-api-security/)

### Account Management and Identity Provisioning

Allows identity administrators to manage users and groups with automated provisioning and approval workflows across heterogeneous user stores.

### Access Control

Controls access to applications in the login flow with fine-grained access control policies and acts as a policy decision point (PDP) for third-party applications.

### Privacy

Adheres to privacy by design and privacy by default principle by following industry standards and regulations with consent lifecycle management, data security, and enabling users have control over their personal data.
[Learn more about GDPR](https://wso2.com/solutions/regulatory-compliance/gdpr/).

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about WSO2 Identity Server.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>5.7.0-6.1574079675330</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 19, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>5.7.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.5.x, 2.6.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial 170.162</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, vSphere</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

WSO2 Identity Server has the following requirements:

### SQL Database databases (MySQL or MS SQL) for storing data
#### Database for storing User Management and Registry data
- For MySQL(before v5.7) use [script](https://github.com/wso2/pivotal-cf-is/blob/master/pattern-1/bosh-release/dbscripts/usermgt/mysql.sql)
- For MySQL(v5.7 or later) use [script](https://github.com/wso2/pivotal-cf-is/blob/master/pattern-1/bosh-release/dbscripts/usermgt/mysql5.7.sql)
- For MSSQL use [script](https://github.com/wso2/pivotal-cf-is/blob/master/pattern-1/bosh-release/dbscripts/usermgt/mssql.sql)
  
#### Database for storing Identity and Consent data
- For MySQL(before v5.7) use [script](https://github.com/wso2/pivotal-cf-is/blob/master/pattern-1/bosh-release/dbscripts/identity/mysql.sql)
- For MySQL(v5.7 or later) use [script](https://github.com/wso2/pivotal-cf-is/blob/master/pattern-1/bosh-release/dbscripts/identity/mysql-5.7.sql)
- For MSSQL use [script](https://github.com/wso2/pivotal-cf-is/blob/master/pattern-1/bosh-release/dbscripts/identity/mssql.sql)

#### Database for storing Business Process data
- For MySQL(before v5.7) use [script](https://github.com/wso2/pivotal-cf-is/blob/master/pattern-1/bosh-release/dbscripts/bps/mysql.sql)
- For MySQL(v5.7 or later) use [script](https://github.com/wso2/pivotal-cf-is/blob/master/pattern-1/bosh-release/dbscripts/bps/mysql.sql)
- For MSSQL use [script](https://github.com/wso2/pivotal-cf-is/blob/master/pattern-1/bosh-release/dbscripts/bps/mssql.sql)

For more information, see [Installing and Configuring the Databases](https://docs.wso2.com/display/AM260/Installing+and+Configuring+the+Databases) in the WSO2 documentation.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue email
[WSO2](mailto:dev@wso2.org).

## <a id='license'></a>License

This tile contains the WSO2 products with its latest updates, which are under the End User License Agreement (EULA) 2.1.
Read more about [EULA 2.1](https://wso2.com/licenses/wso2-update/2.1).

You need a valid license key that corresponds to your WSO2 Subscription to install this tile. If you do not possess a valid license key,
contact a [WSO2 account manager](https://wso2.com/contact/).
