---
title: Using WSO2 Identity Server for Pivotal Platform
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to use WSO2 Identity Server.

##<a id='using'></a> Using WSO2 Identity Server

###<a id='view_status'></a> View Status

In Ops Manager, select the WSO2 Identity Server for Pivotal Platform tile, then select the **Status**
tab to see the status of all WSO2 Identity Server nodes. In this tab, you can see
information such as CPU usage, memory usage, and other information.

![Status](images/status.png)

###<a id='access-dashboards'></a> Access Dashboards

After the installation is complete, the management console, and dashboard can be accessed
via the following URLs where `domain_name` refers to the domain name of the Pivotal Platform environment.

* `https://wso2is.<system_domain_name>/carbon/`

  The management console is an administrative portal that allows identity admin users to configure and work with WSO2 Identity Server capabilities.

* `https://wso2is.<system_domain_name>/dashboard/`

  The WSO2 IS dashboard allows end users to manage the user profile or the user account, add security questions, revoke/update the password, manage user profile, and view identity providers. This is also known as account self-service.

###<a id='access-logs'></a> Access Logs

To access log files for WSO2 Identity Server for Pivotal Platform components,

1. Select the WSO2 Identity Server for Pivotal Platform tile in Ops Manager.
1. Open the **Status** tab.
1. Request a download of the log file by selecting the download icon in the **LOGS** column.
![Log-download](images/status.png)

1. Go to the **Logs** tab to download the log file locally.
![Log-main](images/log-main.png)

###<a id='documentation'></a> Documentation
WSO2 Identity Server for Pivotal Platform 5.7.0 [Documentation](https://docs.wso2.com/display/IS570).
